*.o
*.so
*.la
*.a
*.gmo
*.lo
.dirstamp
.DS_Store
lxde-pi-shutdown-helper
config.log
config.h
.deps/
.libs/
debian/pishutdown
Makefile
autom4te.cache/*
config.status
libtool
po/Makefile.in
po/POTFILES
po/stamp-it
stamp-h1
