Source: pishutdown
Section: utils
Priority: optional
Maintainer: Simon Long <simon@raspberrypi.com>
Build-Depends: debhelper-compat (= 13), meson, libgtk-3-dev (>= 3.24), intltool (>= 0.40.0)
Standards-Version: 4.5.1
Homepage: http://raspberrypi.com/

Package: pishutdown
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtk-3-0 (>= 3.24), procps
Description: Desktop shutdown helper for Raspberry Pi
 Small application offering shutdown / reboot / logout options, run from the
 shutdown option on the main menu.
